<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="temp.css">
    <title>Template</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="class">MODERNA</div>
            <div class="home">
               <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Drop Down</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
               </nav>
            </div>
        </div>
    </header>
    <main class="body">
        <div class="heading">
            <h1>Welcome To Moderna</h1>
        </div>
        <div class="para">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, iure. Iure aspernatur quas quia in possimus at, velit distinctio doloremque quasi ea, maiores mollitia id iusto quaerat tempore, illo quo! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, beatae id! Repudiandae fugit ea, eum blanditiis inventore deserunt cupiditate aut sequi magnam ducimus perspiciatis architecto, repellat ullam omnis, animi quia.</p>
        </div>
        <button>Read More</button>
    </main>
</body>
</html>